div.download-links {
  margin-top: 1em;
  ul {
    list-style: none;
    margin-top: 0.5em;
    padding-left: 0em;
    li a {
      color: #27aae2;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}